@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    Single Lookup Tool - The Department maintains over 8 different database and data sources (Excel & Access files) containing information about different rental properties. The Department often needs to lookup and attribute different programs to these units. This tool would consider of an unified ETL pipeline and deduplication service that allows staff to lookup properties and see which programs have been used, along with alternate addresses, etc.
</p>
<br />
<h3>Sponsors</h3>
<p>
    Rushmore Cervantes, Laura Guglielmo & Luz Santiago
</p>
    <h3>Partners</h3>
<p>UCLA Extension - The Coding Bootcamp
</p>
