@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
<link rel="Stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>
<link href="~/Content/custstyle.css" rel="stylesheet" />
<div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>HCID Lookup Tool</h2>
                <p>
                    Yes, it's a lookup tool!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <br />
        <div id="searchblock">
            <form class="searchform" method="get">
                <label>Street Number</label>
                <input type="text" class="form-control" id="StreetNumber" name="StreetNumber">
                <label>Street Name</label>
                <input type="text" class="form-control" id="StreetName" name="StreetName">
                <label>Street Direction</label>
                @Html.DropDownList("StreetDirection", (IEnumerable<SelectListItem>)ViewBag.StreetDirection, new { @class = "form-control" })
                <label>Street Suffix Name</label>
                @Html.DropDownList("StreetSuffix", (IEnumerable<SelectListItem>)ViewBag.StreetSuffix, new { @class = "form-control" })

                <label>City</label>
                <input type="text" class="form-control" id="City" name="City">
                <label>Zip Code</label>
                <input type="text" class="form-control" id="Zip" name="Zip">
                <label>APN</label>
                <input type="text" class="form-control" id="APN" name="APN">
                <br />
                <label>Choose Database(s)</label> <br />
                <input class="form-check-input" id="bimcheckbox" type="checkbox" name="bims2"> Bims2<br>
                <input class="form-check-input" id="rentcheckbox" type="checkbox" name="rent2"> Rent2<br>
                <input class="form-check-input" id="himcheckbox" type="checkbox" name="hims2"> Hims2<br>
                <input class="form-check-input" id="propcheckbox" type="checkbox" name="prop_site_address2"> Prop Site Addresss<br>
                <input type="submit" class="btn btn-search" id="SearchBtn" value="Search">
            </form>
        </div>
    </div>
    <div class="row">
        <div id= "bimTable">
            
        </div>
        <div id="himTable">

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var bimtable = $("#bimTable");
        var himtable = $("#himTable");
        $("#SearchBtn").click(function (e) {
            e.preventDefault();
            var streetNumber = $("#StreetNumber").val().trim();
            var streetName = $("#StreetName").val().trim();
            var streetDirection = $("#StreetDirection").val();
            var streetSuffix = $("#StreetSuffix").val();
            var city = $("#City").val().trim();
            var zip = $("#Zip").val().trim();
            var apn = $("#APN").val().trim();
            var bimscheckbox = $("#bimcheckbox").val();
            var himscheckbox = $("#himcheckbox").val();
            var rentcheckbox = $("#rentcheckbox").val();
            var propcheckbox = $("#propcheckbox").val();

            bimtable.html("");
            $.ajax({
                type: "GET",
                url: "/Home/GetSearchResult?StreetNumber=" + streetNumber + "&StreetName=" + streetName + "&StreetDirection=" + streetDirection + "&StreetSuffix=" + streetSuffix + "&City=" + city + "&Zip=" + zip + "&APN=" + apn + "&bims2=" + bimscheckbox + "&rent2=" + rentcheckbox + "&hims2=" + himscheckbox + "&prop_site_address2=" + propcheckbox,
                contentType: "html",
                success: function (result) {
                    console.log(result);
                    console.log(result.SearchBim);
                    console.log(result.CountBim);
                    if (result.SearchBim != null) {
                        if (result.CountBim != 0) {
                            let bimresult = result.DataBim;
                            let tableTitle = "<h2 class='tableTitle'> Bims2 Data</h2>";
                            let bimthead = $("<table>", { "class": "table table-bordered" });
                            bimthead.append("<thead> <tr>" +
                                "<th>APN</th>" +
                                "<th>Statement Num</th>" +
                                "<th>Statement Date</th>" +
                                "<th>Prop Add</th>" +
                                "<th>City, State, Zip</th>" +
                                "<th>RSO Exem/th>" +
                                "<th>SCEP Exem</th>" +
                                "<th>IS RSO</th>" +
                                "<th>IS SCEP</th>" +
                                "<th>RSO Inv Num</th>" +
                                "<th>SCEP Inv Num</th>" +
                                "</tr> </thead>");
                            let bimtbody = $("<tbody>", { id: "bim-tbody" });
                            $.each(bimresult, function (index, value) {
                                var bimtbodydata = "<tr>" +
                                    "<td>" + value.APN + "</td>" +
                                    "<td>" + value.StatementNum + "</td>" +
                                    "<td>" + value.StatementDate + "</td>" +
                                    "<td>" + value.Property_Address + "</td>" +
                                    "<td>" + value.Property_City_State_Zip + "</td>" +
                                    "<td>" + value.RSO_Exemptions + "</td>" +
                                    "<td>" + value.SCEP_Exmpetions + "</td>" +
                                    "<td>" + value.IS_RSO + "</td>" +
                                    "<td>" + value.IS_SCEP + "</td>" +
                                    "<td>" + value.RSO_Invoice_Num + "</td>" +
                                    "<td>" + value.SCEP_Invoice_Num + "</td>" + "</tr>";
                                bimtbody.append(bimtbodydata)
                            })
                            let tfootcontent = "";
                            for (let i = 1; i <= Math.min(result.NoofPageBim, 20); i++) {
                                if (i == result.CurrentPageBim) {
                                    tfootcontent = tfootcontent + i + "  ";
                                } else {
                                    tfootcontent = tfootcontent + "<a class='bim-page-number' href='#'>" + i + "  </a>";
                                }
                            };
                            let bimtfoot = $("<tfoot>").append("<tr><td colspan=11 id='storedcurrentsearch' " +
                                "data-StreetNumber='" + streetNumber + "' " +
                                "data-StreetName='" + streetName + "' " +
                                "data-StreetDirection='" + streetDirection + "' " +
                                "data-StreetSuffix='" + streetSuffix + "' " +
                                "data-City='" + city + "' " +
                                "data-Zip='" + zip + "' " +
                                "data-APN='" + apn + "' " +
                                "data-NoofPage='" + result.NoofPageBim + "' " +
                                "data-NoofRecord='" + result.CountBim + "'>" +
                                "<p id='bim-tfoot'>" + tfootcontent +
                                "</p></td ></tr > ");
                            bimthead.append(bimtbody);
                            bimthead.append(bimtfoot);
                            bimtable.append(tableTitle);
                            bimtable.append(bimthead);
                            bimtable.append("<p>" + result.CountBim + " records found. Maximum 200 records displayed</p>");
                        } else {
                            var tableTitle = "<h2 class='tableTitle'> Bims2 Data not</h2>";
                            var tableCcontent = "<p>No record found</p>";
                            bimtable.append(tableTitle);
                            bimtable.append(tableCcontent);
                        }
                    }
                }
            })
        });
        $(document).on('click', "a.bim-page-number", function (e) {
            e.preventDefault();
            e.stopPropagation();
            var streetNumber = $("#storedcurrentsearch").data("streetnumber") ? $("#storedcurrentsearch").data("streetnumber"):"";
            var streetName = $("#storedcurrentsearch").data("streetname") ? $("#storedcurrentsearch").data("StreetName"):"";
            var streetDirection = $("#storedcurrentsearch").data("streetdirection") ? $("#storedcurrentsearch").data("streetdirection"):"";
            var streetSuffix = $("#storedcurrentsearch").data("streetsuffix") ? $("#storedcurrentsearch").data("streetsuffix"):"0";
            var city = $("#storedcurrentsearch").data("city") ? $("#storedcurrentsearch").data("city"):"";
            var zip = $("#storedcurrentsearch").data("zip") ? $("#storedcurrentsearch").data("zip"):"";
            var apn = $("#storedcurrentsearch").data("apn") ? $("#storedcurrentsearch").data("apn"):"";
            var pageNum = parseInt($(this).html().trim());
            var noofPage = $("#storedcurrentsearch").data("noofpage") ? $("#storedcurrentsearch").data("noofpage"):"";
            bimtable.html("");
            $.ajax({
                type: "GET",
                url: "/Home/GetBimSearchResult?StreetNumber=" + streetNumber + "&StreetName=" + streetName + "&StreetDirection=" + streetDirection + "&StreetSuffix=" + streetSuffix + "&City=" + city + "&Zip=" + zip + "&APN=" + apn + "&PageNum=" + pageNum + "&NoofPage=" + noofPage,
                contentType: "html",
                success: function (result) {
                    let bimresult = result.DataBim;
                    console.log(bimresult);
                    $("#bim-tbody").html("");
                    $.each(bimresult, function (index, value) {
                        var bimtbodydata = "<tr>" +
                            "<td>" + value.APN + "</td>" +
                            "<td>" + value.StatementNum + "</td>" +
                            "<td>" + value.StatementDate + "</td>" +
                            "<td>" + value.Property_Address + "</td>" +
                            "<td>" + value.Property_City_State_Zip + "</td>" +
                            "<td>" + value.RSO_Exemptions + "</td>" +
                            "<td>" + value.SCEP_Exmpetions + "</td>" +
                            "<td>" + value.IS_RSO + "</td>" +
                            "<td>" + value.IS_SCEP + "</td>" +
                            "<td>" + value.RSO_Invoice_Num + "</td>" +
                            "<td>" + value.SCEP_Invoice_Num + "</td>" + "</tr>";
                        $("#bim-tbody").append(bimtbodydata)
                    })
                    $("#bim-tfoot").html("");
                    let tfootcontent = "";
                    for (let i = 1; i <= Math.min(result.NumPage, 20); i++) {
                        if (i == result.CurrentPageBim) {
                            tfootcontent = tfootcontent + i + "  ";
                        } else {
                            tfootcontent = tfootcontent + "<a class='bim-page-number' href='javascript:void();'>" + i + "  </a>";
                        }
                    };
                    $("#bim-tfoot").append(tfootcontent);

                }
            });
        });

    })
</script>